<a href="https://colab.research.google.com/github/userddssilva/ESTCMP064/blob/main/RS_visualise_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a dataset with all ratings of book by user

In [ ]:
pip install --upgrade orjson

Collecting orjson
  Downloading https://files.pythonhosted.org/packages/13/7f/944742c1baa150c64d55d25a7d1ec1bd74da0ab6875e2bc674fb56561a76/orjson-3.5.2-cp37-cp37m-manylinux2014_x86_64.whl (231kB)
     |████████████████████████████████| 235kB 8.4MB/s
Installing collected packages: orjson
Successfully installed orjson-3.5.2

In [ ]:
import orjson

import pandas as pd
import numpy as np

from pprint import pprint

## Import dataset users

In [ ]:
file_users_path = "/content/drive/MyDrive/sistemas_de_informacao/Disciplinas/ESTCMP064 - Oficina de Desenvolvimento de Sistemas I/BX-CSV-Dump/BX-Users.csv"
df_users = pd.read_csv(file_users_path, sep=";", encoding = "ISO-8859-1")
df_users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

## Import book datasets

In [ ]:
file_books_path = "/content/drive/MyDrive/sistemas_de_informacao/Disciplinas/ESTCMP064 - Oficina de Desenvolvimento de Sistemas I/BX-CSV-Dump/BX-Books.csv"
df_books = pd.read_csv(file_books_path, sep=";", encoding = "ISO-8859-1", error_bad_lines=False)
df_books

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

              ISBN  ...                                        Image-URL-L
0       0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1       0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2       0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3       0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4       0393045218  ...  http://images.amazon.com/images/P/0393045218.0...
...            ...  ...                                                ...
271355  0440400988  ...  http://images.amazon.com/images/P/0440400988.0...
271356  0525447644  ...  http://images.amazon.com/images/P/0525447644.0...
271357  006008667X  ...  http://images.amazon.com/images/P/006008667X.0...
271358  0192126040  ...  http://images.amazon.com/images/P/0192126040.0...
271359  0767409752  ...  http://images.amazon.com/images/P/0767409752.0...

[271360 rows x 8 columns]

## Import ratings dataset

In [ ]:
file_ratings = "/content/drive/MyDrive/sistemas_de_informacao/Disciplinas/ESTCMP064 - Oficina de Desenvolvimento de Sistemas I/BX-CSV-Dump/BX-Book-Ratings.csv"
df_ratings = pd.read_csv(file_ratings, sep=";", encoding = "ISO-8859-1")
df_ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

## Show how many registers we have of ranting by user

In [ ]:
len(df_ratings['User-ID'].unique())

105283

## Show all rating to user 278851

In [ ]:
df_ratings[df_ratings['User-ID'] == 278851][['ISBN', 'Book-Rating']].set_index('ISBN').to_dict()

{'Book-Rating': {'0028630289': 0,
  '020148837X': 0,
  '0312266448': 0,
  '0380865610': 5,
  '0439050006': 5,
  '0440175933': 0,
  '0440215439': 0,
  '0440486599': 5,
  '0553211439': 0,
  '0553277375': 0,
  '067161746X': 7,
  '0743203763': 0,
  '0767907566': 5,
  '0789721260': 5,
  '0843106743': 7,
  '0884159221': 7,
  '0894803700': 5,
  '0912333022': 7,
  '0914511211': 8,
  '1558531025': 8,
  '1566910102': 0,
  '1569661057': 10,
  '1885071213': 7}}

In [ ]:
df_short = df_ratings[df_ratings['User-ID'] == 8][['ISBN', 'Book-Rating']].set_index('ISBN')
df_short.rename({'Book-Rating': 8}, axis=1, inplace=True)
df_short.to_dict()

{8: {'0002005018': 5,
  '0060973129': 0,
  '0374157065': 0,
  '0393045218': 0,
  '0399135782': 0,
  '0425176428': 0,
  '0671870432': 0,
  '0679425608': 0,
  '074322678X': 5,
  '0771025661': 0,
  '0771074670': 0,
  '080652121X': 0,
  '0887841740': 5,
  '1552041778': 5,
  '1558746218': 0,
  '1567407781': 6,
  '1575663937': 6,
  '1881320189': 7}}

In [ ]:
dataset = {}

for user_id, df_user in df_ratings.groupby('User-ID'):
    
    df_short = df_user[['ISBN', 'Book-Rating']].set_index('ISBN')
    df_short.rename({'Book-Rating': str(user_id)}, axis=1, inplace=True)
    user_dict = df_short.to_dict()

    dataset[str(user_id)] = user_dict[str(user_id)]

b = orjson.dumps(dataset, option=orjson.OPT_NAIVE_UTC | orjson.OPT_SERIALIZE_NUMPY)
f = open("rantings.json", "wb")
f.write(b)
f.close()

## Group ratings by users

In [ ]:
df_ratings.groupby(['User-ID']).size().reset_index(name='rantings')

        User-ID  rantings
0             2         1
1             7         1
2             8        18
3             9         3
4            10         2
...         ...       ...
105278   278846         2
105279   278849         4
105280   278851        23
105281   278852         1
105282   278854         8

[105283 rows x 2 columns]

In [ ]:
len(df_ratings['User-ID'].unique())

105283

In [ ]:
df_books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication']]

              ISBN  ... Year-Of-Publication
0       0195153448  ...                2002
1       0002005018  ...                2001
2       0060973129  ...                1991
3       0374157065  ...                1999
4       0393045218  ...                1999
...            ...  ...                 ...
271355  0440400988  ...                1988
271356  0525447644  ...                1991
271357  006008667X  ...                2004
271358  0192126040  ...                1996
271359  0767409752  ...                2000

[271360 rows x 4 columns]

## Converting dataset to json

In [ ]:
books = {}
i = 0
for isbn, values in df_books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication']].set_index('ISBN').iterrows():
    # print(values.to_dict())
    books[isbn] = values.to_dict()
b = orjson.dumps(books, option=orjson.OPT_NAIVE_UTC | orjson.OPT_SERIALIZE_NUMPY)
f = open("books.json", "wb")
f.write(b)
f.close()